<!-- Navbar -->
<div class="w3-top">
    <ul class="w3-navbar w3-black w3-card-2 w3-left-align">
        <li class="w3-hide-medium w3-hide-large w3-opennav">
            <a href="javascript:void(0)" (click)="toggleMenu()" style="display:inline;" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <img src="images/Logo_Tres_Long.png" style="padding-left:5px;" width="224px" height="48px" alt="Epicerie vrac zéro déchet"
                title="Epicerie vrac zéro déchet">
        </li>
        <li class="w3-hide-small"><a routerLink="/home" routerLinkActive="active" class="w3-hover-none w3-hover-text-grey w3-padding-large"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
        <li class="w3-hide-small"><a routerLink="/products" routerLinkActive="active" class="w3-padding-large">Produits</a></li>
        <li class="w3-hide-small"><a routerLink="/dashboard" routerLinkActive="active" class="w3-padding-large">Dashboard</a></li>
        <li class="w3-hide-small"><a routerLink="/heroes" routerLinkActive="active" class="w3-padding-large">Heroes</a></li>
        <li class="w3-hide-small w3-dropdown-hover">
            <a href="javascript:void(0)" class="w3-hover-none w3-padding-large" title="More">Produits <i class="fa fa-caret-down"></i></a>
            <div class="w3-dropdown-content w3-white w3-card-4">
                <a href="#">Epicerie sèche</a>
                <a href="#">Epicerie liquide</a>
                <a href="#">Cosmétique</a>
                <a href="#">Entretien</a>
            </div>
        </li>
        <li class="w3-hide-small w3-right"><img src="images/Logo_Tres_Long.png" style="margin-right : 15px;" width="224px" height="48px" alt="Epicerie vrac zéro déchet"
                title="Epicerie vrac zéro déchet"></li>
    </ul>
</div>

<!-- Navbar on small screens -->
<div #navDemo class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:55px">
    <ul class="w3-navbar w3-left-align w3-black">
        <li><a class="w3-padding-large" (click)="toggleMenu()" routerLink="/home" routerLinkActive="active">Accueil</a></li>
        <li><a class="w3-padding-large" (click)="toggleMenu()" routerLink="/products" routerLinkActive="active">Produits</a></li>
        <li><a class="w3-padding-large" (click)="toggleMenu()" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a class="w3-padding-large" (click)="toggleMenu()" routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
    </ul>
</div>

<router-outlet></router-outlet>

<!-- The Contact Section -->
<div class="w3-container w3-center w3-content w3-padding-24" style="max-width:800px" id="contact">
    <h2 class="w3-wide">CONTACT</h2>
    <p class="w3-opacity"><i>Coordonnées et horaires</i></p>
    <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom w3-left-align">
            <i class="fa fa-map-marker" style="width:30px"></i>Herlies, France<br>
            <i class="fa fa-phone" style="width:30px"></i> Tél : +06 XX XX XX XX<br>
            <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
        </div>
        <div class="w3-col m6 w3-large w3-margin-bottom w3-left-align">
            <!--<form action="form.asp" target="_blank">-->
            <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                <i class="fa fa-clock-o fa-fw"></i> Horaires : <br>
                <i class="fa fa-circle-o fa-fw" style="margin-left:6px;font-size:50%;margin-right:7px;"></i> Lundi : 9h-12h
                / 13h-18h30<br>
                <i class="fa fa-circle-o fa-fw" style="margin-left:6px;font-size:50%;;margin-right:7px;"></i> Mardi : 9h-12h
                / 13h-18h30<br>
                <i class="fa fa-circle-o fa-fw" style="margin-left:6px;font-size:50%;;margin-right:7px;"></i> Mercredi :
                9h-13h
                <br>
                <i class="fa fa-circle-o fa-fw" style="margin-left:6px;font-size:50%;;margin-right:7px;"></i> Jeudi : 9h-12h
                / 13h-18h30<br>
                <i class="fa fa-circle-o fa-fw" style="margin-left:6px;font-size:50%;;margin-right:7px;"></i> Vendredi :
                9h-19h
                <br>
                <i class="fa fa-circle-o fa-fw" style="margin-left:6px;font-size:50%;;margin-right:7px;"></i> Samedi : 9h-14h<br>
            </div>

            <!-- <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
          </div>
        
        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
        <button class="w3-btn w3-section w3-right" type="submit">SEND</button>
      </form>-->
        </div>
    </div>
</div>

<!-- Add Google Maps -->
<div id="googleMap" style="height:400px;filter:grayscale(90%);-webkit-filter:grayscale(90%);"></div>

<!-- Footer -->
<footer class="w3-container w3-padding-24 w3-center w3-opacity w3-light-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-text-indigo"></i>
    <i class="fa fa-instagram w3-hover-text-purple"></i>
    <i class="fa fa-snapchat w3-hover-text-yellow"></i>
    <i class="fa fa-pinterest-p w3-hover-text-red"></i>
    <i class="fa fa-twitter w3-hover-text-light-blue"></i>
    <i class="fa fa-linkedin w3-hover-text-indigo"></i>
    <p class="w3-medium">Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>