<div id="slider">
  <figure>
    <img class="w3-round" *ngFor="let image of images" src="{{image.url}}" alt="{{image.title}}">
  </figure>
</div>

<div class="w3-container w3-content w3-center w3-padding-24" style="max-width:800px" id="band">
  <h2 class="w3-wide">Dans ton bocal...</h2>
  <p class="w3-opacity"><i>Epicerie vrac <span style="font-size:28px;">0</span> déchet</i></p>
  <p class="w3-justify">Epicerie 100% vrac proposant les produits du quotidien (pâtes, riz, légumes secs, apéritifs, fruits secs, confiserie, épices,
    thé, café, huiles, vinaigres, droguerie, hygiène etc.) en quantité à la demande et sans emballage inutile. Produits bio
    et / ou locaux</p>
  <p class="w3-justify">Comment ? Rien n’est pré-emballé: le client se sert en fonction de la quantité dont il a besoin, soit en apportant ses
    propres contenants, soit en optant pour des contenants réutilisables disponibles dans le magasin. </p>
  <div class="w3-row w3-padding-32">
    <div class="w3-third">
      <p>Bocal</p>
      <img src="/images/bocal.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
    </div>
    <div class="w3-third">
      <p>Bocal</p>
      <img src="/images/bocal.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
    </div>
    <div class="w3-third">
      <p>Bocal</p>
      <img src="/images/bocal.jpg" class="w3-round" alt="Random Name" style="width:60%">
    </div>
  </div>
</div>

<div class="pGrey" style="width:100%;padding-bottom:32px;padding-top:32px;">
  <img src="/images/Pourquoi.png" width="100%">
</div>

<div class="pBlue" style="width:100%;padding-top:32px;">
  <img src="/images/Principe3.png" width="100%">
</div>

<div id="ateliers">
  <div class="w3-container w3-content w3-padding-32" style="max-width:800px">
    <h2 class="w3-wide w3-center">Ateliers & Evénements</h2>
    <p class="w3-opacity w3-center"><i>Réservez votre atelier par mail ou téléphone !</i></p><br>
    <ul class="w3-ul w3-border w3-white w3-text-grey">
      <li class="w3-padding"><span class="w3-tag pBlue w3-margin-right">Septembre</span>Ouverture de votre magasin</li>
      <li class="w3-padding"><span class="w3-tag pPink w3-margin-right">Octobre</span>Je fabrique mes produits ménager</li>
      <li class="w3-padding"><span class="w3-tag pPink w3-margin-right">Novembre</span>Je fabrique mon déodorant <span class="w3-badge pGrey w3-right">3 personnes</span></li>
    </ul>
  </div>
</div>

<!-- The Contact Section -->
<div class="w3-container w3-center w3-padding-32" style="background-color:#5C5050;color:#FFFFFF;" id="contact">
  <h2 class="w3-wide">CONTACT</h2>
  <p class="w3-opacity"><i>Coordonnées et horaires</i></p>
  <div class="w3-row w3-padding-32">
    <div class="w3-col m6 w3-large w3-margin-bottom w3-center">
      <div class="w3-left-align" style="display:inline-block;">
        <i class="fa fa-map-marker" style="width:30px"></i>Herlies, France<br>
        <i class="fa fa-phone" style="width:30px"></i> Tél : +06 XX XX XX XX<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
      </div>
    </div>
    <div class="w3-col m6 w3-large w3-margin-bottom w3-center">
      <!--<form action="form.asp" target="_blank">-->
      <div class="w3-row-padding w3-left-align" style="margin:0 -16px 8px -16px;display:inline-block;">
        <i class="fa fa-clock-o fa-fw"></i> Horaires : <br>
        <i class="fa fa-circle-o fa-fw" style="margin-left:6px;font-size:50%;margin-right:7px;"></i> Lundi : 9h-12h / 13h-18h30<br>
        <i class="fa fa-circle-o fa-fw" style="margin-left:6px;font-size:50%;;margin-right:7px;"></i> Mardi : 9h-12h / 13h-18h30<br>
        <i class="fa fa-circle-o fa-fw" style="margin-left:6px;font-size:50%;;margin-right:7px;"></i> Mercredi : 9h-13h
        <br>
        <i class="fa fa-circle-o fa-fw" style="margin-left:6px;font-size:50%;;margin-right:7px;"></i> Jeudi : 9h-12h / 13h-18h30<br>
        <i class="fa fa-circle-o fa-fw" style="margin-left:6px;font-size:50%;;margin-right:7px;"></i> Vendredi : 9h-19h
        <br>
        <i class="fa fa-circle-o fa-fw" style="margin-left:6px;font-size:50%;;margin-right:7px;"></i> Samedi : 9h-14h<br>
      </div>
    </div>
  </div>
</div>

<!-- Add Google Maps -->
<div id="googleMap" style="height:400px;filter:grayscale(90%);-webkit-filter:grayscale(90%);"></div>