<!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
<div class="w3-main w3-padding-64" style="font-size:16px;">

  <div class="w3-container w3-content" style="max-width:1000px">
    <div class="w3-row-padding w3-padding-16" style="margin:0 -16px">
      <div class="w3-col s4" style="padding:16px;border-right-style:1px solid grey;">
        <div class="w3-row w3-center">
          <a routerLink="/products?cat=sec" routerLinkActive="active">
            <img src="/images/newyork.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
          </a>
          <p class="w3-tag w3-round-xlarge">Epicerie Sèche</p>
        </div>
        <div class="w3-row w3-center">
          <img src="/images/paris.jpg" alt="Paris" style="width:100%" class="w3-hover-opacity">
          <p class="w3-tag w3-round-xlarge">Epicerie Liquide</p>
        </div>
      </div>
      <div class="w3-col s4" style="padding:16px 16px 32px 16px;">
        <div class="w3-row w3-center">
          <a routerLink="/products?cat=sec" routerLinkActive="active">
            <img src="/images/newyork.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
          </a>
          <p class="w3-tag w3-round-xlarge">Entretien</p>
        </div>
        <div class="w3-row w3-center">
          <img src="/images/paris.jpg" alt="Paris" style="width:100%" class="w3-hover-opacity">
          <p class="w3-tag w3-round-xlarge">Hygiène</p>
        </div>
      </div>
      <div class="w3-col s4" style="padding:16px 16px 32px 16px;">
        <div class="w3-row w3-center">
          <a routerLink="/products?cat=sec" routerLinkActive="active">
            <img src="/images/newyork.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
          </a>
          <p class="w3-tag w3-round-xlarge">Epicerie Sèche</p>
        </div>
        <div class="w3-row w3-center">
          <img src="/images/paris.jpg" alt="Paris" style="width:100%" class="w3-hover-opacity">
          <p class="w3-tag w3-round-xlarge">Epicerie Liquide</p>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-row">

    <div class="w3-col s2" style="padding:16px;border-right-style:1px solid grey;">
      <div class="w3-row w3-center w3-tooltip">
        <img src="/images/newyork.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
        <p class="w3-text w3-tag w3-round-xlarge">Epicerie Sèche</p>
      </div>
      <div class="w3-row w3-center w3-tooltip">
        <img src="/images/paris.jpg" alt="Paris" style="width:100%" class="w3-hover-opacity">
        <p class="w3-text w3-tag w3-round-xlarge">Epicerie Liquide</p>
      </div>
      <div class="w3-row w3-center w3-tooltip">
        <img src="/images/sanfran.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
        <p class="w3-text w3-tag w3-round-xlarge">Cosmétique</p>
      </div>
      <div class="w3-row w3-center w3-tooltip">
        <img src="/images/sanfran.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
        <p class="w3-text w3-tag w3-round-xlarge">Entretien</p>
      </div>
    </div>

    <div class="w3-col s10" style="padding:16px 16px 32px 16px;">
      <div class="w3-row" style="padding-bottom:12px;margin-bottom:24px;border-bottom:1px solid grey;">
        <span class="w3-opacity"><b>Filtres : </b></span>
        <span *ngFor="let category of categories" class="w3-border w3-center w3-round-large w3-hover-black" style="padding:3px 6px 3px 6px;margin-left:8px;">{{category}}</span>
      </div>
      <div *ngFor="let product of products" class="w3-row">
        <h3 class="w3-text-teal w3-padding-8" style="display:inline;">{{product.nom}}</h3>
        <span class="w3-tag w3-large w3-orange" style="transform:rotate(-10deg);margin-left:15px;padding-top: 5px;">
          <i class="fa fa-tag" aria-hidden="true"></i>
           {{product.prix | currency:'EUR':true}} <span class="w3-small">/ {{product.volume_ref}} {{product.unite_ref}}</span>
        </span>
        <span *ngIf="product.local" class="w3-tag w3-large w3-teal" style="transform:rotate(-10deg);margin-left:15px;padding-top: 5px;">
          <i class="fa fa-truck" aria-hidden="true"></i>
           Local
          </span>
        <span *ngIf="product.bio" class="w3-tag w3-large w3-green" style="transform:rotate(-10deg);margin-left:15px;padding-top: 5px;">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
           Bio
          </span>
        <p>{{product.description}}</p>
      </div>
    </div>
  </div>

</div>