body {
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
}

.mySlides {
    display: none
}
h1, h2, h3, h4, h5, h6, .w3-slim, .w3-wide {
    font-family: 'Indie Flower', cursive;
}